language: php

php:
  - 7.0
  - 7.1
  - 7.2

before_script:
  - composer self-update
  - composer install --dev --no-interaction

script:
  - php vendor/bin/phpunit --coverage-clover build/logs/clover.xml
  - php benchmarks/benchmarks.php
